<main>
    <div class="title">Solertium</div>
    <div class="slogan">Where Success Is At Home</div>
    <div class="parent">
        <div class="div1 box">
            <div class="box-text" style="left: calc(50% - 160px);font-size: 2rem;">A new dawn in coupons</div>
        </div>
        <div class="div2 box">
            <div class="box-text" style="left: calc(50% - 125px);font-size: 1rem;">All You Need Is Guidance And A Dream</div>
        </div>
        <div class="div3 box">
            <div class="box-text" style="left: calc(50% - 90px);font-size: 1rem;">The Path Of Champions</div>
        </div>
    </div>
</main>