<footer>
    <div class="container">
        <div class="part1">
          <span>Solertium</span>
          <div>aaaaaaaaaaaaaaaaaaaaaaa
              aaaaaaaaaaaaaaaaaaaaaaa
          </div>
        </div>
        <div class="part2">
          <span>Quick Links</span>
          <p>Courses</p>
          <p>Coupons</p>
          <p>Questions</p>
          <p>Contact</p>
        </div>
        <div class="part3">
          <span>Follow US</span>
          <p>Facebook</p>
          <p>Instagram</p>
          <p>Twitter</p>
          <p>Linkedin</p>
        </div>
        <div class="part4">
          <span>Newsletter</span>
          <p>subscribe now, we will send you ........</p>
          <input type="text" placeholder="Enter Email">
        </div>
      </div>
</footer>