<div class="home-about">
    <div class="about-card">
        <div class="parent">
            <div class="founders">
                <span>About Us</span>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis pariatur, eligendi odit sint blanditiis consectetur dicta libero ducimus, ad incidunt illum eum cupiditate suscipit rerum quaerat. Alias, fugit aliquid! Sapiente.</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis pariatur, eligendi odit sint blanditiis consectetur dicta libero ducimus, ad incidunt illum eum cupiditate suscipit rerum quaerat. Alias, fugit aliquid! Sapiente.</p>
            </div>
            <div class="picture"> </div>
        </div>
    </div>
</div>
