.hr-container{
    padding: 70px 100px;
}

.line{
    width: 100%;
    height: 45px;
    position: relative;
}

.line::after , .line::before{
    content: '';
    position: absolute;
    margin: auto;
    height: 2px;
    background: black;
    width: 45%;
    top: 45%;
}

.line::after{
    left:0
}

.line::before{
    right: 0;
}

.diamond{
    height: 40px;
    width: 40px;
    border: 2px solid black;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    transform: rotate(45deg);
    
}